.sub-hero-section {
    height: 615px;

    .sub-hero-layer {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.2));
    }

    @include media-breakpoint-down(lg) {
        height: 403px;
    }
}

.left-right-image-section {
    .left-right-image {
        height: 655px;

        @include media-breakpoint-down(lg) {
            height: 404px;
        }
    }

    &.bg-49484F {

        .left-right-title,
        .left-right-description {
            color: $white !important;
        }
    }
}

.logo-slider-section {

    padding-left: 38px;
    padding-right: 38px;

    @include media-breakpoint-down(lg) {
        padding-left: 0px;
        padding-right: 0px;
    }

    .logo-item {
        height: 108px;

        img {
            mix-blend-mode: darken;
        }
    }

}

.philosophy-block-section {
    @include media-breakpoint-down(lg) {

        .philosophy-cards {
            .philosophy-card {

                &:first-child {
                    padding-top: 35px;
                }
            }
        }
    }

    .philosophy-icon {
        height: 80px;
    }
}