.sub-hero-section {
    height: 615px;

    .sub-hero-layer {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.2));
    }
     @include media-breakpoint-down(up) {
            height: 403px;
        }
}

.left-right-image-section {
    .left-right-image {
        height: 655px;
        @include media-breakpoint-down(up) {
            height: 404px;
        }
    }

    &.bg-49484F {

        .left-right-title,
        .left-right-description {
            color: $white !important;
        }
    }
}

.logo-slider-section {

    padding-left: 38px;
    padding-right: 38px;
    @include media-breakpoint-down(up) {
          padding-left:0px;
    padding-right:0px;
        }

    .logo-item {
        height: 108px;

        img {
            mix-blend-mode: darken;
        }
    }

}

.philosophy-block-section {
    .philosophy-icon {
        height: 80px;
    }
}