.faq-section {
  .category-faq {
    .icon-bg {
      width: 14px;
      height: 14px;

      img {
        height: 20px;
      }
    }

    .closet-header {
      &.active {
        .space {
          padding-bottom: 15px;
        }

        .icon-bg img {
          transform: rotate(45deg);
        }
      }
    }

    .closet-content.show-fade {
      opacity: 1 !important;
    }
  }

  .closet-content {
    display: none;
  }

  .closet-item:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  &.dark-bg-faq {
    .closet-item:last-child {
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    .closet-item:first-child {
      border-top: 1px solid rgba(255, 255, 255, 0.2);
    }

    .icon-bg {
      img {
        filter: invert(1);
      }
    }
  }
}