.category-hero-section {
    height: 541px;

    .category-hero-layer {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.2));
    }
    
    @include media-breakpoint-down(lg) {
        height: 410px;
    }
}

.category-section {

    .category-item {
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        padding: 35px 0px 40px 0px;

        &:last-child {
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        }

        @include media-breakpoint-down(lg) {
            padding: 25px 0px 30px 0px;
        }
    }

    .category-image {
        height: 135px;

        @include media-breakpoint-down(lg) {
            height: 185px;
        }
    }
}