.hero-section {
    .hero-layer {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0));
    }

    @include media-breakpoint-down(lg) {
        height: 640px;
    }
}

.left-right-media-section {
    .left-image {
        height: 590px;

        @include media-breakpoint-down(lg) {
            height: 404px;
        }
    }
}

.sticky-content-section {
    .sticky-content-wrapper {
        height: 100%;

        @include media-breakpoint-down(lg) {
            height: auto;
        }
    }

    @include media-breakpoint-down(lg) {
        height: 375px;
    }

    .left-content {
        display: flex;
        align-items: center;


        .image-wrapper {
            height: 474px;

            @include media-breakpoint-down(lg) {
                height: 262px;
                width: 204px;
            }
        }

        .image-layer {
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.2));
        }
    }

    .inner-content-layer {
        height: 100px;
        background: linear-gradient(180deg, rgba(126, 124, 139, 0.13), rgba(126, 124, 139, 1));
        pointer-events: none;
        z-index: 1;
        bottom: 60px;

        @include media-breakpoint-down(lg) {
            height: 80px;
            width: 100% !important;
            left: 0 !important;
        }
    }

    .right-scroll-content {



        .inner-content {

            .content-item {
                .content-img img {
                    @include media-breakpoint-down(lg) {
                        height: 52px;
                    }
                }


                &:first-child {
                    margin-top: 200px;

                    @include media-breakpoint-down(lg) {
                        margin-top: 70px;
                    }
                }

                &:last-child {
                    margin-bottom: 80px;

                    @include media-breakpoint-down(lg) {
                        margin-bottom: 0;
                    }
                }
            }
        }

    }
}