.hero-section {
    .hero-layer {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0));
    }

    @include media-breakpoint-down(lg) {
        height: 640px;
    }
}

.left-right-media-section {
    .left-image {
        height: 590px;

        @include media-breakpoint-down(lg) {
            height: 404px;
        }
    }
}

.two-panel-section {
    min-height: 100vh;

    .two-panel {
        @include media-breakpoint-down(lg){
            height: 375px;
        }

        .two-panel-img {
            height: 474px;

            @include media-breakpoint-down(md) {
                height: 262px !important;
            }

            .two-panel-card {
                padding-left: 58px;
                padding-right: 58px;

                @include media-breakpoint-down(md) {
                    padding-left: 20px;
                    padding-right: 20px;

                }
                &:last-child{   
                    @include media-breakpoint-down(md) {
                        padding-bottom: 350px;
                    }
                }
            }

            .two-panel-scroll {
                max-height: 100%;
            }
        }
    }
}