.sticky-bar-section {
    padding: 11px 27px;
    backdrop-filter: blur(4px);

    .item {
        height: 40px;
    }
}

.consultation-card {

    .consultation-card-wrapper {
        padding-left: 41px;
        padding-right: 41px;
        border: 1px solid rgba($color: $color-000000, $alpha: 0.1);
    }
}

.image-faq-section {

    .image-faq {

        .icon-bg {
            width: 14px;
            height: 14px;
            position: relative;

            img {
                height: 20px;
                transition: transform 0.3s ease;
            }
        }

        .closet-item {
            border: 1px solid rgba(0, 0, 0, 0.1);


            .closet-header {
                padding: 40px;
                position: relative;

                .closet-header-title {
                    transition: opacity 0.3s ease;
                }

                &.active {
                    z-index: 1;
                    width: 100%;
                    justify-content: end !important;

                    .closet-header-title {
                        opacity: 0;
                        visibility: hidden;
                    }

                    .icon-bg img {
                        transform: rotate(45deg);
                        filter: invert(1);
                    }
                }
            }

            @include media-breakpoint-down(lg) {
                padding: 15px;
            }
        }

        .closet-content {
            transform: translateY(-110px);
            margin-bottom: -110px;
        }


        .image-faq-areas {
            &:last-child {
                padding-bottom: 230px !important;

                @include media-breakpoint-down(lg){
                    padding-bottom: 50px !important;
                }
            }
        }


        .image-faq-hero {
            display: block;

            .faq-img {
                height: 430px;
            }

            .image-faq-hero-layer {
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.2));
            }

        }

        .area {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }

    }

}