input {
  &.light-input {
    border: none;
    border-bottom: 1px solid $color-E0E0E0;
    border-radius: 0px !important;

    &::placeholder {
      color: $color-FFFFFF;
      opacity: 0.3;
    }
  }
}

textarea {
  height: 150px;
  border: none;
  border-bottom: 1px solid $color-E0E0E0;
  border-radius: 0px !important;

  &::placeholder {
    color: $color-FFFFFF;
    opacity: 0.3;
  }
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}