.slick-arrows-wrapper {
    .slick-arrow {
        width: 40px;

        &.next-arrow {
            transform: scaleX(-1);
        }
    }
}

.treatment-slider-section {

    .slick-list {
        overflow: visible;
        margin-left: -40px;
        margin-right: -40px;

        .slick-slide {
            padding-left: 40px;
            padding-right: 40px;
        }

        @include media-breakpoint-down(lg) {
            margin-left: -15px;
            margin-right: -15px;

            .slick-slide {
                padding-left: 15px;
                padding-right: 15px;
            }

        }
    }

    .treatment-image {
        height: 390px;

        @include media-breakpoint-down(lg) {
            height: 350px;
            width: 300px;
        }
    }
}

.logo-slider-section {

    .slick-list {
        overflow: visible;
        margin-left: -40px;
        margin-right: -40px;

        .slick-slide {
            padding-left: 40px;
            padding-right: 40px;
        }

        @include media-breakpoint-down(lg) {
            margin-left: -15px;
            margin-right: -15px;

            .slick-slide {
                padding-left: 15px;
                padding-right: 15px;
            }

        }
    }
}

.testimonial-slider-section {
    .slick-list {
        overflow: visible;
        margin-left: -120px;
        margin-right: -120px;

        .slick-slide {
            padding-left: 120px;
            padding-right: 120px;
        }

        @include media-breakpoint-down(lg) {
            margin-left: -20px;
            margin-right: -20px;

            .slick-slide {
                padding-left: 20px;
                padding-right: 20px;
            }

        }
    }

    .devider {
        margin-left: 45px;
        margin-right: 50px;
        border: 1px solid rgba($color: $color-000000, $alpha: 0.2);
    }
}

footer {
    .slick-list {
        margin-left: -7px;
        margin-right: -7px;

        .slick-slide {
            padding-left: 7px;
            padding-right: 7px;
        }
    }
    @include media-breakpoint-down(lg) {
            margin-left: -3px !important;
            margin-right: -3px !important;

            .slick-slide {
                padding-left: 3px !important;
                padding-right: 3px !important;
            }

        }

    .footer-slider-image {
        height: 208px;

        @include media-breakpoint-down(lg) {
            height: 110px;
        }
    }
}