.get-in-touch-block-section {
    .bg-img {
        height: 447px;
    }
}

footer {
    z-index: 999;

    .footer-logo {
        height: 110px;

        @include media-breakpoint-down(lg) {
            height: 54px;
        }
    }

    .media-bg {
        width: 42px;
        height: 42px;
        border: 1px solid rgba($color: $color-FFFFFF, $alpha: 0.2);

        .media-img {
            height: 20px;
        }
    }
}