header {
    z-index: 99999;

    .header-logo {
        width: 305px;

        @include media-breakpoint-down(lg) {
            width: 165px;
        }
    }

    .navigation {
        ul {
            li {
                margin-right: 35px;

                &:last-child {
                    margin-right: 0px;

                    &:hover {
                        .header-link {
                            text-decoration: none !important;
                        }
                    }
                }
            }
        }
    }

    &.black-header {
        .black-logo {
            display: block !important;
        }

        .white-logo {
            display: none !important;
        }

        .navigation {
            .header-link {
                color: $color-49484F !important;
            }
        }

        .white-border-btn {
            display: none !important;
        }

        .border-49484F-btn {
            display: inline-flex !important;
            align-items: center;
        }

        @include media-breakpoint-down(lg) {
            .menu-toggle {
                .burger-menu {
                    img {
                        filter: invert(1);
                    }
                }
            }
        }
    }


    &.header-fixed {
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        background-color: $white;

        .white-logo,
        .white-border-btn {
            display: none !important;
        }

        .black-logo {
            display: block !important;
        }

        .navigation {
            .header-link {
                color: $color-49484F !important;
            }
        }

        .border-49484F-btn {
            display: inline-flex !important;
            align-items: center;
        }

        .menu-toggle {
            .burger-menu {
                img {
                    filter: invert(1);
                }
            }
        }
    }

    &.header-fixed-os {
        background: transparent;
    }

    @include media-breakpoint-down(lg) {
        .navigation {
            position: absolute;
            top: 0px;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 190px 15px 145px 15px;
            overflow-y: auto;

            ul {
                li {
                    .header-link {
                        color: $color-49484F !important;
                    }
                }
            }
        }

        .menu-toggle {
            &.activate {
                .burger-menu {
                    display: none !important;
                }

                .close-menu {
                    display: block !important;
                }
            }
        }
    }

    &.res-header-active {
        height: 100vh;
        background-color: $color-F1DDD3;

        .white-logo {
            display: none !important;
        }

        .black-logo {
            display: block !important;
        }
    }
}